
/* body */

body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1{
    font-size: 275%;
    line-height: 1.5;
    font-weight: bolder;
    width: 100%;
    padding: 5%;
    color: #ffff00;
    font-weight: 700;
}

.Second-heading{                                /* Class for h2 tag */
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 300%;
}

.Colored-section{ 
    background-color: #002fff;
    color: #ffffff;

}

.White-section{
    background-color: #ffffff;
    color: #000000;
}

/* Top Section */


#title{                                         /* Title */
    /* background-image: 
    url("/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: 125%; */
}

.container-fluid{                              /* Bootstrap Container Fluid */           
    padding: 2% 4%;
    margin: 0;
}

.navbar{
    padding: 5%;
}

.navbar-nav{
    color: #ffffff;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 175%;
    position: relative;
    right: 2%;
}

#Brand-name{
    color: #ffffff;
}

.nav-item{
    padding: 2%;
    font-size: 150%;
}

#Quest-to-Enlightenment{
    width: 35%;
    transform: rotate(20deg);
    position: absolute;
    right: 11%;
    padding: 2%;
} 

.download-button{
    margin: 8% 14% 8% auto;
    position: relative;
    left: 20%;
}


/* Features Section */

#features{
    padding: 3% 10%;
    position: relative;
    z-index: 1;
    color: #002fff;
}

.feature-box{
    padding: 2.5%;
    color: #000000;
    font-weight: 800;
}

.icon {
    margin-bottom: 8%;
}

/* Famous-reflections Section */

#Famous-reflections{
    font-family: 'Ubuntu', sans-serif;
    padding: 2%;
}

#Famous-reflections h2{
    color: #ffff00;
}

#reflection-slides h3{
    line-height: 2;
}

#reflection-slides{
    font-family: 'Open Sans', sans-serif;
    padding: 1% 12%;
    margin-top: 5%;
}

.reflections-images{
    width: 15rem;
    border-radius: 100%;
    float: left;
    padding-bottom: 1%;
    padding-right: 1rem;

}

/* Pricing Section */

#pricing{
    padding: 5%;
}

#pricing-heading{
    color:  #0d2dbb;
}

.pricing-cards{
    margin: 3%;
    padding: 3%;

}

/* Call to action */

#cta{
    
    padding: 5%;
    background-image: 
    url("/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
}

.download-button-cta{
    margin: 4% 2% 4%;
}

/* footer */

#footer{
    text-align: center;
    
}
.footer-icon{
    margin: 2% 1% 2%;
    size: 5x;
    color: #ffffff;

}

.footer-icon:hover{
    
    color: #ffff00;
}

/* Copyright */

#copyr{
    padding: 1%;
}


/* Media Query */

@media screen and  (max-width: 992px){
    #title{
        background-color: #002fff;
        background-image:none; 
    }      

    #Quest-to-Enlightenment{
        width: 100%;
        transform: rotate(0deg);
        position: relative;
        left:0%;
    } 

    #features{
        padding: 3% 10%;
        background-color: #f3f5f7;
    }

    .reflections-images{
        width: 15rem;
        border-radius: 100%;
        float: none;
        padding-bottom: 1%;
    }

    .card{
        margin: 3% auto;
    }

    #cta{
        color: #ffff00;
        font-family: 'Ubuntu', sans-serif;
        padding: 10%;
        background-image: none;
        background-color: #002fff;
    }

    .download-button{
        position: relative;
        left: 1%;
        margin: 5% 2% 5%;
    }

    .footer-icon{
        margin: 5% 1% 5%;
        size: 5x;
        color: #002fff;
    }

    .footer-icon:hover{
        color: #000000;
    }

    #footer{
        background-color: #f8f4f4;
        color:#002fff;
    }
}
3
